/* Style the navigation links */
html{
    scroll-behavior: smooth;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav li {
    margin-right: 20px;
    
}

nav a {
    color: #000000; /* adjust the color to your liking */
    text-decoration: none;
    font-weight: bolder;
}

nav a:hover {
    color: #fa1212; /* adjust the hover color to your liking */
}

/* Style the hero section */
.hero {
    position: relative;
    width: 100%;
    height: 30vh;
    background-color: #e6e3ee; /* adjust the background color to your liking */
}
.hero img{
    position: relative;
    width: 20%;
    height: 30%;
    margin-top: 0%;
}
.hero h1{
    font-size: 35px;
    margin-right: 0%;
    margin-left:  9%;
    margin-top: 10%;
    align-items: center;
}
.image {
    height: 100px;
    position: absolute;
    left:  50%;
    bottom: 55%;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
     margin-left: 30%; 
    margin-bottom: 10%;  

}

/* Style the contact section */
.container i {
    background-color: #000;
    padding: 10px 18px;
    margin: 3px 0;
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
    display: inline-block;
    border-radius: 2px;
    margin-left: 20%;
}

.container a {
    color: #ffffff; /* adjust the color to your liking */
    text-decoration: none;
}

.container a:hover {
    color: #666; /* adjust the hover color to your liking */
}

.header h1{
    margin-left: 20%;
    font-size: 60px;
    color: #000;
    margin-bottom: 10px;
}

.header p{
    margin-left:20%;
    color: #4e4c4c;
    margin-bottom: 20px;
    line-height: 22px;
}


.header span{
    color: rgb(241, 197, 1);
}
.container li {
    background-color: #802c2c;
    padding: 10px 18px;
    text-align: center;
    margin: 30px 0;
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
    display: inline-block;
    border-radius: 2px;
}
.computerskills{
    
    padding: 10px 10px;
    margin: 3px 0;
    text-decoration: none;
    font-weight: bold;
    color: #000000;
    display: inline-block;
    border-radius: 2px;

}

.computerskills span{
    color: rgb(236, 59, 4);
}

.education{
    padding: 10px 10px;
    margin: 3px 0;
    text-decoration: none;
    font-weight: bold;
    color: #000000;
    display: inline-block;
    border-radius: 2px;
    margin-left: 30PX;
}


.contact-form {
    max-width: 45%;
    width: 70%;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .contact-form input,.contact-form textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 10% solid #f3ebeb;
    background-color: #fff6f6;
    color: #000000;
    font-size: 16px;
  }
  
  .contact-form textarea {
    height: 100px;
    resize: none;

  }
  
  .contact-form .btn {
    width: 100%;
    padding: 15px 20px;
    background-color: #868181;
    color: #000000;
    border: none;
    border-radius: 25px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button :hover {
    background-color: #00cce7;
  }